name: Super Linter
# This super linter should be used as a guide and indicator, and is not correct all of the time.

on:
  workflow_call:

  # Include this so the super linter can also run for this reusable-workflows repository.
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

# Permissions for the GITHUB_TOKEN.
permissions: {}

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    permissions: # This workflow is used by both public and private repositories. The read permission is necessary for private repositories.
      contents: read

    steps:
      # Get the code.
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0

      # Run the super linter.
      - name: Super-Linter
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Access via the secrets context. The GITHUB_TOKEN is automatically inherited.
          VALIDATE_GO_RELEASER: false
          VALIDATE_GO: false # This is false because VALIDATE_GO_MODULES does all the go linting.
          VALIDATE_JSON_PRETTIER: false # Use biome json linter instead.
          FILTER_REGEX_EXCLUDE:
            CHANGELOG.md|launch.json # Exclude the change log and launch json file because the change log should be autogenerated by the release please workflow.
            # And the launch.json has useful comments and I couldn't manage to configure the .eslintrc.yml to allow comments.
